# requirements.txt — FIXED UNTUK HUGGING FACE & STREAMLIT CLOUD
setuptools==69.5.1  # Fix build_meta error
wheel==0.43.0  # Bantu build wheel
pip==24.2  # Update pip untuk pyproject.toml

streamlit>=1.38.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
torch==2.3.1+cpu
torchvision==0.18.1+cpu
ultralytics==8.2.92
pytesseract==0.3.10
Pillow==10.4.0
scikit-image==0.24.0
pandas==2.2.3
regex==2024.9.11
rapidfuzz==3.10.0

# Force PyTorch wheel (hindari compile)
--find-links https://download.pytorch.org/whl/torch_stable.html
