streamlit>=1.38.0
opencv-python-headless==4.10.0.84
numpy==1.26.4
# Install torch CPU via direct wheel (bypass 403)
https://download.pytorch.org/whl/cpu/torch-2.1.2%2Bcpu-cp311-cp311-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.16.2%2Bcpu-cp311-cp311-linux_x86_64.whl
ultralytics==8.0.196
pytesseract==0.3.10
scikit-image==0.21.0
pandas==2.0.3
regex==2023.10.3
rapidfuzz==3.5.2